<div class="space-y-4">
    <div class="text-gray-400 font-medium">
        مشخصات گیاه
    </div>
    <%- include("./../../textbox", {id: "plants-newplant-modal-name", class: "w-1/2", label: "نام گیاه",}) %>
</div>
<div class="space-y-4">
    <div class="text-gray-400 font-medium">
        نوع گیاه
    </div>
    <div id="plants-newplant-modal-field" class="flex items-center gap-4 flex-wrap p-1"></div>
</div>