<div class="flex items-center justify-between">
    <%- include("./../../button", {text: "ساختن", id: "plants-newplant-modal-submit", class: "w-32 justify-center"}) %>
    <div class=""></div>
</div>