<div class="flex gap-4 items-center">
    <div class="font-bold">
        گیاهت به کمک نیاز داره؟؟
    </div>
    <div class="flex text-gray-600">
        <a id="plants-plantdesc-modal-goftino"  class="p-2 hover:scale-110 transition-all hover:text-other-goftino" href="#">
            <%- include("./../../icon", {icon: "goftino",  class: "w-6"}) %>
        </a>
        <a id="plants-plantdesc-modal-telegram" class="p-2 hover:scale-110 transition-all hover:text-other-telegram" href="#">
            <%- include("./../../icon", {icon: "telegram", class: "w-6"}) %>
        </a>
        <a id="plants-plantdesc-modal-eeta"     class="p-2 hover:scale-110 transition-all hover:text-other-eeta" href="#">
            <%- include("./../../icon", {icon: "eeta",     class: "w-6"}) %>
        </a>
    </div>
</div>