<%
    const _color = locals.color || "white";
    const _class = locals.class;
%>
<div class="block loading">
    <div class="bg-<%= _color %>"></div>
    <div class="bg-<%= _color %>"></div>
    <div class="bg-<%= _color %>"></div>
    <div class="bg-<%= _color %>"></div>
</div>