<!DOCTYPE html>
<html lang="fa" dir="rtl">
<%- include("./../html_head") %>
<body>
    <h1 id="panel-page" class="hidden">بلوم</h1>
    <h1 id="plants-page" class="hidden">بلوم</h1>
    <div class="page h-screen flex">
        <%- include("./loading") %>
        <%- include("./sidebar") %>
        <%- include("./field") %>
    </div>
</body>
</html>