<button id="panel-navbar-profile" class="relative group/profile flex items-center gap-4">
    <div class="aspect-square rounded-full overflow-hidden w-10 ring-green-400 ring-0 group-hover/profile:ring-4 transition-all">
        <img class="w-full h-full" src="/images/profile.png" alt="">
    </div>
    <div class="text-right">
        <div id="panel-navbar-profile-name"  class="text-sm font-bold"></div>
        <div id="panel-navbar-profile-email" class="text-xs text-gray-400"></div>
    </div>
    <div class="group-open/profile:rotate-180 rotate-0 transition-all duration-300">
        <%- include("./../icon", {icon: "arrow-bottom-fill", class: "w-4"}) %>
    </div>
</button>