<%
    const _tab = locals.tab || "plants";

    const $tab = [
        {
            name: "plants",
            icon: "flower-fill",
            text: "گلدان ها",
            link: "#",
            open: false,
        },
        {
            name: "products",
            icon: "bag-fill",
            text: "محصولات",
            link: "#",
            open: false,
        }
    ]
%>
<div open id="panel-sidebar" class="group relative shrink-0 open:w-64 w-32 py-8 flex flex-col gap-16 transition-all duration-300">
    <div class="mx-auto shrink-0 scale-0 group-open:scale-100 transition-all duration-300">
        <img class="h-12" src="/images/logo.png" alt="">
    </div>
    <div class="grow space-y-2">
        <% $tab.forEach(item => { %>
            <% if(item.name === _tab) item.open = true; %>
            <%- include("./sidebar_button", item) %>
        <% }) %>
    </div>
    <button id="panel-sidebar-minimizer" class="absolute bottom-[10%] left-0 -translate-x-1/2 aspect-square p-1 bg-white rounded-2xl border-gray-100 border-[6px] rotate-180 group-open:rotate-0">
        <%- include("./../icon", {icon: "arrow-left-fill", class: "w-6"}) %>
    </button>
</div>